
        body{
            background: #1d1e22;
            text-align: center;
            font-family: Arial, sans-serif;
            color: white;
        }

        h1 {
            text-transform: uppercase;
            font-wegiht: 800;
        }

        input {
            border-radius: 5px;
            min-width: 80%;
            padding: 20px;
            margin-top: 10px;
        }

        #enter {
            border: none;
            padding: 20px;
            border-radius: 5px;
            color: #ffffff;
            background-color: #4eb9cd;
            transition: all 0.75 ease;
            font-weight: normal;
        }

        ul {
            padding-left: 15px;
            padding-right: 15px;
        }

        li {
            text-align: left;
            margin-top: 20px;
            list-style: none;
            padding: 20px;
            color: #ffffff;
            text-transform: capitalize;
            font-weight: 600;
            border-radius: 5px;
            margin-bottom: 10px;
            background: #4eb9cd;
            transition: all 0.75 ease;
        }

        li:hover {
            background: #76cfe0;
        }

        li > button {
            background: none;
            border: none;
            float: right;
            color: #ffffff;
            font-weight: 800;
        }

        .done {
            text-decoration: line-through;
            background: #51df71 !important;
            color: #00891f
        }

        .delete {
            display:none;
        }
